# apps/bot-discord
DISCORD_SERVER_ID="your-development-server-id"
DISCORD_BOT_TOKEN="your-integration-token"
DISCORD_BOT_ID="your-integration-id"

# apps/web
DISCORD_OAUTH_ID="your-discord-oauth-id"
DISCORD_OAUTH_SECRET="your-discord-oauth-secret"
TWITCH_OAUTH_ID="your-twitch-oauth-id"
TWITCH_OAUTH_SECRET="your-twitch-oauth-secret"
CLOUDFLARE_ACCOUNT_ID="your-cloudflare-account-id"
CLOUDFLARE_R2_ACCESS_KEY_ID="your-cloudflare-r2-access-key-id"
CLOUDFLARE_R2_SECRET_ACCESS_KEY="your-cloudflare-r2-secret-access-key"

# packages/db
DATABASE_URL=turso-database-host
DATABASE_AUTH_TOKEN=turso-database-name
