@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --root-font-size: 16;
    --root-viewport-width: 360;
  }

  @screen sm {
    :root {
      --root-viewport-width: 1920;
    }
  }

  @font-face {
    font-family: "Fraunces";
    font-display: block;
    font-style: normal;
    font-weight: 100 900;
    src: url(../assets/fonts/fraunces.woff2) format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-display: block;
    font-style: normal;
    font-weight: 100 900;
    src: url(../assets/fonts/inter.woff2) format("woff2");
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  /* TODO: move this to root when Tanner removes Html, Head and Body components */
  html {
    @apply theme-arpeggio-black relative min-h-full scroll-p-0 bg-arpeggio-black-900 font-inter text-gunpla-white-50 antialiased selection:bg-arpeggio-black-300 selection:text-arpeggio-black-900;
  }

  /* TODO: move this to root when Tanner removes Html, Head and Body components */
  body {
    @apply size-full min-h-full min-w-fit text-sm sm:pl-16;
  }

  /* TODO: move this to root when Tanner removes Html, Head and Body components */
  body #root {
    @apply size-full min-w-fit;
  }
}
