@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --root-font-size: 16;
    --root-viewport-width: 360;
  }

  @screen sm {
    :root {
      --root-viewport-width: 1920;
    }
  }

  @font-face {
    font-family: "Fraunces";
    font-display: block;
    font-style: normal;
    font-weight: 100 900;
    src: url(../assets/fonts/fraunces.woff2) format("woff2");
  }

  @font-face {
    font-family: "Inter";
    font-display: block;
    font-style: normal;
    font-weight: 100 900;
    src: url(../assets/fonts/inter.woff2) format("woff2");
  }

  * {
    -webkit-tap-highlight-color: transparent;
  }

  html.cursor * {
    @apply cursor-none;
  }

  html.cursor .tsqd-parent-container * {
    @apply cursor-default;
  }

  .font-serif-ampersand {
    font-variation-settings:
      "SOFT" 100,
      "WONK" 100,
      "opsz" 144;
  }
}
